.root {
    background-image: url('/images/FirstScreen/firstScreen.jpg');
    width: 100%;
    padding: 16px 0 82px;
    background-size: cover;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    max-width: 1080px;
}

.formWrapper {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);
    padding:40px 44px 70px;
    z-index: 0;
}
.form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    max-height: 52px;
    white-space: nowrap;
}

.mobButton {
    display: none;
}

.input {
    position: relative;
    background: rgba(255, 255, 255, 0.20);
    border-color: var(--light-color);
    padding: 14px 16px;
    border-radius: 8px;
    border: 1px solid var(--light-color);
    width: 270px;
    height: 52px;
    color: var(--light-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.input::placeholder {
    font-size: 16px;
    font-weight: 700;
    color: var(--light-color);
  }

.datePicker {
    position: relative;
}

.calendarIcon {
    position:absolute;
    top: 17px;
    right: 16px;
}

.label {
    display: block;
    position: absolute;
    left: 8px;
    top: 60px;
    white-space: nowrap;
}

.datePickerWrapper {
    width: 100%;
}
@media (max-width: 1220px) {
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        column-gap: 50px;
    }

    .input {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .mobButton {
        display: block;
        max-width: 213px;
        padding: 16px 36px;
    }
    .formWrapper {
        display: none;
    }

}

@media (max-width: 389px) {
    .title {
        overflow-wrap: break-word;
    }
}
