.root {
    background-image: url('/images/FirstScreen/firstScreen.jpg');
    width: 100%;
    padding-top: 16px;
    background-size: cover;
    height: 100lvh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    padding-bottom: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    max-width: 1080px;
}

.mobButton {
    display: none;
}

@media (max-width: 932px){
    .root {
        height: auto;
    }
    .wrapper {
        margin-top: 90px;
        padding-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .mobButton {
        display: block;
        max-width: 213px;
        padding: 16px 36px;
    }
}

@media (max-width: 430px) {
    .root {
        height: 100lvh;
    }

    .wrapper {
        margin-top: 0;
    }

    .title {
        overflow-wrap: break-word;
    }
}
