.wrapper {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
}

.photos {
    padding-top: 40px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.photo {
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wideItem {
    grid-column: span 2;
}

.loupe {
    display: none;
}

.photo:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(26, 62, 62, 0.30) 0%, rgba(26, 62, 62, 0.30) 100%), lightgray 50% / cover no-repeat center;
    .loupe {
        display: block;
    }
}

@media (max-width: 848px) {
    .photos {
        gap: 8px;
    }
    .photo {
        height: 180px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 50px 40px;
    }
}

@media (max-width: 576px) {
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    .photos {
        display: flex;
        padding: 32px 16px;
        overflow-x: scroll;
    }

    .photo {
        width: 280px;
        height: 250px;
        flex-shrink: 0;
    }
}




