.container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  @media (max-width: 576px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
  }