.modal {
    height: 100lvh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.active {
    transform: scale(1);
}

.notActive {
    transform: scale(0);
}