.advantages {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.advantage {
    display: flex;
    gap: 16px;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.advTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
}